
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 90vh;
}

.box {
    width: 350px;
    height: 350px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    border-radius: 10px;
    position: relative;
}

.pixela1 {
    position: relative;
    width: 200px;
    height: 200px;
}

.pixela1::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 
        70px 30px 0 0 rgba(50, 205, 50),
        80px 30px 0 0 rgba(50, 205, 50),
        90px 30px 0 0 rgba(50, 205, 50),
        100px 30px 0 0 rgba(50, 205, 50),
        110px 30px 0 0 rgba(50, 205, 50),
        50px 40px 0 0 rgba(50, 205, 50),
        60px 40px 0 0 rgba(50, 205, 50),
        70px 40px 0 0 rgba(50, 205, 50),
        110px 40px 0 0 rgba(50, 205, 50),
        120px 40px 0 0 rgba(50, 205, 50),
        130px 40px 0 0 rgba(50, 205, 50),
        40px 50px 0 0 rgba(50, 205, 50),
        50px 50px 0 0 rgba(50, 205, 50),
        60px 50px 0 0 rgba(50, 205, 50),
        120px 50px 0 0 rgba(50, 205, 50),
        130px 50px 0 0 rgba(50, 205, 50),
        40px 60px 0 0 rgba(50, 205, 50),
        50px 60px 0 0 rgba(50, 205, 50),
        60px 60px 0 0 rgba(50, 205, 50),
        120px 60px 0 0 rgba(50, 205, 50),
        130px 60px 0 0 rgba(50, 205, 50),
        140px 60px 0 0 rgba(50, 205, 50),
        40px 70px 0 0 rgba(50, 205, 50),
        50px 70px 0 0 rgba(50, 205, 50),
        60px 70px 0 0 rgba(50, 205, 50),
        120px 70px 0 0 rgba(50, 205, 50),
        130px 70px 0 0 rgba(50, 205, 50),
        140px 70px 0 0 rgba(50, 205, 50),
        120px 80px 0 0 rgba(50, 205, 50),
        130px 80px 0 0 rgba(50, 205, 50),
        140px 80px 0 0 rgba(50, 205, 50),
        120px 90px 0 0 rgba(50, 205, 50),
        130px 90px 0 0 rgba(50, 205, 50),
        140px 90px 0 0 rgba(50, 205, 50),
        80px 100px 0 0 rgba(50, 205, 50),
        90px 100px 0 0 rgba(50, 205, 50),
        100px 100px 0 0 rgba(50, 205, 50),
        110px 100px 0 0 rgba(50, 205, 50),
        120px 100px 0 0 rgba(50, 205, 50),
        130px 100px 0 0 rgba(50, 205, 50),
        140px 100px 0 0 rgba(50, 205, 50),
        50px 110px 0 0 rgba(50, 205, 50),
        60px 110px 0 0 rgba(50, 205, 50),
        70px 110px 0 0 rgba(50, 205, 50),
        80px 110px 0 0 rgba(50, 205, 50),
        120px 110px 0 0 rgba(50, 205, 50),
        130px 110px 0 0 rgba(50, 205, 50),
        140px 110px 0 0 rgba(50, 205, 50),
        40px 120px 0 0 rgba(50, 205, 50),
        50px 120px 0 0 rgba(50, 205, 50),
        60px 120px 0 0 rgba(50, 205, 50),
        120px 120px 0 0 rgba(50, 205, 50),
        130px 120px 0 0 rgba(50, 205, 50),
        140px 120px 0 0 rgba(50, 205, 50),
        170px 120px 0 0 rgba(50, 205, 50),
        180px 120px 0 0 rgba(50, 205, 50),
        40px 130px 0 0 rgba(50, 205, 50),
        50px 130px 0 0 rgba(50, 205, 50),
        120px 130px 0 0 rgba(50, 205, 50),
        130px 130px 0 0 rgba(50, 205, 50),
        140px 130px 0 0 rgba(50, 205, 50),
        170px 130px 0 0 rgba(50, 205, 50),
        180px 130px 0 0 rgba(50, 205, 50),
        40px 140px 0 0 rgba(50, 205, 50),
        50px 140px 0 0 rgba(50, 205, 50),
        120px 140px 0 0 rgba(50, 205, 50),
        130px 140px 0 0 rgba(50, 205, 50),
        140px 140px 0 0 rgba(50, 205, 50),
        180px 140px 0 0 rgba(50, 205, 50),
        40px 150px 0 0 rgba(50, 205, 50),
        50px 150px 0 0 rgba(50, 205, 50),
        60px 150px 0 0 rgba(50, 205, 50),
        110px 150px 0 0 rgba(50, 205, 50),
        120px 150px 0 0 rgba(50, 205, 50),
        130px 150px 0 0 rgba(50, 205, 50),
        140px 150px 0 0 rgba(50, 205, 50),
        180px 150px 0 0 rgba(50, 205, 50),
        40px 160px 0 0 rgba(50, 205, 50),
        50px 160px 0 0 rgba(50, 205, 50),
        60px 160px 0 0 rgba(50, 205, 50),
        70px 160px 0 0 rgba(50, 205, 50),
        80px 160px 0 0 rgba(50, 205, 50),
        90px 160px 0 0 rgba(50, 205, 50),
        100px 160px 0 0 rgba(50, 205, 50),
        120px 160px 0 0 rgba(50, 205, 50),
        130px 160px 0 0 rgba(50, 205, 50),
        140px 160px 0 0 rgba(50, 205, 50),
        170px 160px 0 0 rgba(50, 205, 50),
        180px 160px 0 0 rgba(50, 205, 50),
        50px 170px 0 0 rgba(50, 205, 50),
        60px 170px 0 0 rgba(50, 205, 50),
        70px 170px 0 0 rgba(50, 205, 50),
        80px 170px 0 0 rgba(50, 205, 50),
        90px 170px 0 0 rgba(50, 205, 50),
        130px 170px 0 0 rgba(50, 205, 50),
        140px 170px 0 0 rgba(50, 205, 50),
        150px 170px 0 0 rgba(50, 205, 50),
        160px 170px 0 0 rgba(50, 205, 50),
        170px 170px 0 0 rgba(50, 205, 50);
    height: 10px;
    width: 10px;
}

.pixela2 {
    position: relative;
    width: 200px;
    height: 200px;
}

.pixela2::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-shadow: 
                150px 100px 0 0 rgba(50, 205, 50), 
                160px 100px 0 0 rgba(50, 205, 50), 
                170px 100px 0 0 rgba(50, 205, 50), 
                140px 110px 0 0 rgba(50, 205, 50), 
                180px 110px 0 0 rgba(50, 205, 50), 
                130px 120px 0 0 rgba(50, 205, 50), 
                190px 120px 0 0 rgba(50, 205, 50), 
                140px 130px 0 0 rgba(50, 205, 50), 
                150px 130px 0 0 rgba(50, 205, 50), 
                160px 130px 0 0 rgba(50, 205, 50), 
                170px 130px 0 0 rgba(50, 205, 50), 
                190px 130px 0 0 rgba(50, 205, 50), 
                130px 140px 0 0 rgba(50, 205, 50), 
                180px 140px 0 0 rgba(50, 205, 50), 
                190px 140px 0 0 rgba(50, 205, 50), 
                130px 150px 0 0 rgba(50, 205, 50), 
                170px 150px 0 0 rgba(50, 205, 50), 
                190px 150px 0 0 rgba(50, 205, 50), 
                140px 160px 0 0 rgba(50, 205, 50), 
                150px 160px 0 0 rgba(50, 205, 50), 
                160px 160px 0 0 rgba(50, 205, 50), 
                190px 160px 0 0 rgba(50, 205, 50);
            height: 10px;
            width: 10px;
        }








.pixela3{
  box-shadow: 
  910px 70px 0 0 rgba(50,205,50,1), 
  980px 70px 0 0 rgba(50,205,50,1), 
  1050px 140px 0 0 rgba(50,205,50,1), 
  980px 210px 0 0 rgba(50,205,50,1), 
  1050px 210px 0 0 rgba(50,205,50,1), 
  910px 280px 0 0 rgba(50,205,50,1), 
  1050px 280px 0 0 rgba(50,205,50,1), 
  910px 350px 0 0 rgba(50,205,50,1), 
  980px 350px 0 0 rgba(50,205,50,1), 
  1120px 350px 0 0 rgba(50,205,50,1);
  height: 70px;
  width: 70px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}




.pixela4 {
  box-shadow: 
  1410px 330px 0 0 rgba(50, 205, 50), 
  1350px 360px 0 0 rgba(50, 205, 50), 
  1380px 360px 0 0 rgba(173, 10, 253), 
  1410px 360px 0 0 rgba(50, 205, 50), 
  1440px 360px 0 0 rgba(173, 10, 253), 
  1470px 360px 0 0 rgba(50, 205, 50), 
  1320px 390px 0 0 rgba(173, 10, 253), 
  1350px 390px 0 0 rgba(50, 205, 50), 
  1380px 390px 0 0 rgba(173, 10, 253), 
  1410px 390px 0 0 rgba(50, 205, 50), 
  1440px 390px 0 0 rgba(173, 10, 253), 
  1470px 390px 0 0 rgba(50, 205, 50), 
  1500px 390px 0 0 rgba(173, 10, 253), 
  1290px 420px 0 0 rgba(50, 205, 50), 
  1320px 420px 0 0 rgba(173, 10, 253), 
  1380px 420px 0 0 rgba(173, 10, 253), 
  1440px 420px 0 0 rgba(173, 10, 253), 
  1470px 420px 0 0 rgba(50, 205, 50), 
  1500px 420px 0 0 rgba(173, 10, 253), 
  1530px 420px 0 0 rgba(50, 205, 50), 
  1290px 450px 0 0 rgba(50, 205, 50), 
  1380px 450px 0 0 rgba(173, 10, 253), 
  1440px 450px 0 0 rgba(173, 10, 253), 
  1470px 450px 0 0 rgba(50, 205, 50), 
  1500px 450px 0 0 rgba(173, 10, 253), 
  1530px 450px 0 0 rgba(50, 205, 50), 
  1350px 480px 0 0 rgba(50, 205, 50), 
  1380px 480px 0 0 rgba(173, 10, 253), 
  1410px 480px 0 0 rgba(50, 205, 50), 
  1440px 480px 0 0 rgba(173, 10, 253), 
  1470px 480px 0 0 rgba(50, 205, 50), 
  1500px 480px 0 0 rgba(173, 10, 253), 
  1530px 480px 0 0 rgba(50, 205, 50), 
  1320px 510px 0 0 rgba(173, 10, 253), 
  1350px 510px 0 0 rgba(50, 205, 50), 
  1410px 510px 0 0 rgba(50, 205, 50), 
  1470px 510px 0 0 rgba(50, 205, 50), 
  1500px 510px 0 0 rgba(173, 10, 253), 
  1530px 510px 0 0 rgba(50, 205, 50), 
  1290px 540px 0 0 rgba(50, 205, 50), 
  1320px 540px 0 0 rgba(173, 10, 253), 
  1350px 540px 0 0 rgba(50, 205, 50), 
  1470px 540px 0 0 rgba(50, 205, 50), 
  1500px 540px 0 0 rgba(173, 10, 253), 
  1530px 540px 0 0 rgba(50, 205, 50), 
  1290px 570px 0 0 rgba(50, 205, 50), 
  1320px 570px 0 0 rgba(173, 10, 253), 
  1350px 570px 0 0 rgba(50, 205, 50), 
  1470px 570px 0 0 rgba(50, 205, 50), 
  1500px 570px 0 0 rgba(173, 10, 253), 
  1530px 570px 0 0 rgba(50, 205, 50), 
  1290px 600px 0 0 rgba(50, 205, 50), 
  1320px 600px 0 0 rgba(173, 10, 253), 
  1350px 600px 0 0 rgba(50, 205, 50), 
  1470px 600px 0 0 rgba(50, 205, 50), 
  1500px 600px 0 0 rgba(173, 10, 253), 
  1530px 600px 0 0 rgba(50, 205, 50), 
  1290px 630px 0 0 rgba(50, 205, 50), 
  1320px 630px 0 0 rgba(173, 10, 253), 
  1350px 630px 0 0 rgba(50, 205, 50), 
  1380px 630px 0 0 rgba(173, 10, 253), 
  1440px 630px 0 0 rgba(173, 10, 253), 
  1470px 630px 0 0 rgba(50, 205, 50), 
  1500px 630px 0 0 rgba(173, 10, 253), 
  1530px 630px 0 0 rgba(50, 205, 50), 
  1590px 630px 0 0 rgba(50, 205, 50), 
  1320px 660px 0 0 rgba(173, 10, 253), 
  1350px 660px 0 0 rgba(50, 205, 50), 
  1380px 660px 0 0 rgba(173, 10, 253), 
  1410px 660px 0 0 rgba(50, 205, 50), 
  1440px 660px 0 0 rgba(173, 10, 253), 
  1470px 660px 0 0 rgba(50, 205, 50), 
  1530px 660px 0 0 rgba(50, 205, 50), 
  1560px 660px 0 0 rgba(173, 10, 253), 
  1590px 660px 0 0 rgba(50, 205, 50), 
  1320px 690px 0 0 rgba(173, 10, 253), 
  1350px 690px 0 0 rgba(50, 205, 50), 
  1380px 690px 0 0 rgba(173, 10, 253), 
  1410px 690px 0 0 rgba(50, 205, 50), 
  1440px 690px 0 0 rgba(173, 10, 253), 
  1560px 690px 0 0 rgba(173, 10, 253), 
  1380px 720px 0 0 rgba(173, 10, 253), 
  1440px 720px 0 0 rgba(173, 10, 253);
  height: 30px;
  width: 30px;
}

.pixela5 {
  box-shadow: 
    1850px 100px 0 0 rgba(50, 205, 50, 0.7), 
    1900px 100px 0 0 rgba(173, 10, 253, 0.7), 
    1950px 100px 0 0 rgba(50, 205, 50, 0.7), 
    1800px 150px 0 0 rgba(173, 10, 253, 0.7), 
    2000px 150px 0 0 rgba(50, 205, 50, 0.7), 
    1750px 200px 0 0 rgba(173, 10, 253, 0.7),
    2050px 200px 0 0 rgba(50, 205, 50, 0.7), 
    1800px 250px 0 0 rgba(173, 10, 253, 0.7),
    1850px 250px 0 0 rgba(50, 205, 50, 0.7), 
    1900px 250px 0 0 rgba(173, 10, 253, 0.7),
    1950px 250px 0 0 rgba(50, 205, 50, 0.7), 
    2050px 250px 0 0 rgba(173, 10, 253, 0.7),
    1750px 300px 0 0 rgba(50, 205, 50, 0.7), 
    2000px 300px 0 0 rgba(173, 10, 253, 0.7),
    2050px 300px 0 0 rgba(50, 205, 50, 0.7), 
    1750px 350px 0 0 rgba(173, 10, 253, 0.7),
    1950px 350px 0 0 rgba(50, 205, 50, 0.7), 
    2050px 350px 0 0 rgba(173, 10, 253, 0.7),
    1800px 400px 0 0 rgba(50, 205, 50, 0.7), 
    1850px 400px 0 0 rgba(173, 10, 253, 0.7),
    1900px 400px 0 0 rgba(50, 205, 50, 0.7), 
    2050px 400px 0 0 rgba(173, 10, 253, 0.7);
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
