body {
    background-color: black;
    background-size: auto;
}

.pixela1 {
  box-shadow: 
    140px 60px 0 0 rgba(50, 205, 50),
    160px 60px 0 0 rgba(50, 205, 50),
    180px 60px 0 0 rgba(50, 205, 50), 
    200px 60px 0 0 rgba(50, 205, 50), 
    220px 60px 0 0 rgba(50, 205, 50), 
    100px 80px 0 0 rgba(50, 205, 50), 
    120px 80px 0 0 rgba(50, 205, 50), 
    140px 80px 0 0 rgba(50, 205, 50), 
    220px 80px 0 0 rgba(50, 205, 50), 
    240px 80px 0 0 rgba(50, 205, 50), 
    260px 80px 0 0 rgba(50, 205, 50), 
    80px 100px 0 0 rgba(50, 205, 50), 
    100px 100px 0 0 rgba(50, 205, 50), 
    120px 100px 0 0 rgba(50, 205, 50), 
    240px 100px 0 0 rgba(50, 205, 50), 
    260px 100px 0 0 rgba(50, 205, 50), 
    80px 120px 0 0 rgba(50, 205, 50), 
    100px 120px 0 0 rgba(50, 205, 50), 
    120px 120px 0 0 rgba(50, 205, 50), 
    240px 120px 0 0 rgba(50, 205, 50), 
    260px 120px 0 0 rgba(50, 205, 50), 
    280px 120px 0 0 rgba(50, 205, 50), 
    80px 140px 0 0 rgba(50, 205, 50), 
    100px 140px 0 0 rgba(50, 205, 50), 
    120px 140px 0 0 rgba(50, 205, 50), 
    240px 140px 0 0 rgba(50, 205, 50), 
    260px 140px 0 0 rgba(50, 205, 50), 
    280px 140px 0 0 rgba(50, 205, 50), 
    240px 160px 0 0 rgba(50, 205, 50), 
    260px 160px 0 0 rgba(50, 205, 50), 
    280px 160px 0 0 rgba(50, 205, 50), 
    240px 180px 0 0 rgba(50, 205, 50), 
    260px 180px 0 0 rgba(50, 205, 50), 
    280px 180px 0 0 rgba(50, 205, 50), 
    160px 200px 0 0 rgba(50, 205, 50), 
    180px 200px 0 0 rgba(50, 205, 50), 
    200px 200px 0 0 rgba(50, 205, 50), 
    220px 200px 0 0 rgba(50, 205, 50), 
    240px 200px 0 0 rgba(50, 205, 50), 
    260px 200px 0 0 rgba(50, 205, 50), 
    280px 200px 0 0 rgba(50, 205, 50), 
    100px 220px 0 0 rgba(50, 205, 50), 
    120px 220px 0 0 rgba(50, 205, 50), 
    140px 220px 0 0 rgba(50, 205, 50), 
    160px 220px 0 0 rgba(50, 205, 50), 
    240px 220px 0 0 rgba(50, 205, 50), 
    260px 220px 0 0 rgba(50, 205, 50), 
    280px 220px 0 0 rgba(50, 205, 50), 
    80px 240px 0 0 rgba(50, 205, 50), 
    100px 240px 0 0 rgba(50, 205, 50), 
    120px 240px 0 0 rgba(50, 205, 50), 
    240px 240px 0 0 rgba(50, 205, 50), 
    260px 240px 0 0 rgba(50, 205, 50), 
    280px 240px 0 0 rgba(50, 205, 50), 
    340px 240px 0 0 rgba(50, 205, 50), 
    360px 240px 0 0 rgba(50, 205, 50), 
    80px 260px 0 0 rgba(50, 205, 50), 
    100px 260px 0 0 rgba(50, 205, 50), 
    240px 260px 0 0 rgba(50, 205, 50), 
    260px 260px 0 0 rgba(50, 205, 50), 
    280px 260px 0 0 rgba(50, 205, 50), 
    340px 260px 0 0 rgba(50, 205, 50), 
    360px 260px 0 0 rgba(50, 205, 50), 
    80px 280px 0 0 rgba(50, 205, 50), 
    100px 280px 0 0 rgba(50, 205, 50), 
    240px 280px 0 0 rgba(50, 205, 50), 
    260px 280px 0 0 rgba(50, 205, 50), 
    280px 280px 0 0 rgba(50, 205, 50), 
    360px 280px 0 0 rgba(50, 205, 50), 
    80px 300px 0 0 rgba(50, 205, 50), 
    100px 300px 0 0 rgba(50, 205, 50), 
    120px 300px 0 0 rgba(50, 205, 50), 
    220px 300px 0 0 rgba(50, 205, 50), 
    240px 300px 0 0 rgba(50, 205, 50), 
    260px 300px 0 0 rgba(50, 205, 50), 
    280px 300px 0 0 rgba(50, 205, 50), 
    360px 300px 0 0 rgba(50, 205, 50), 
    80px 320px 0 0 rgba(50, 205, 50), 
    100px 320px 0 0 rgba(50, 205, 50), 
    120px 320px 0 0 rgba(50, 205, 50), 
    140px 320px 0 0 rgba(50, 205, 50), 
    160px 320px 0 0 rgba(50, 205, 50), 
    180px 320px 0 0 rgba(50, 205, 50), 
    200px 320px 0 0 rgba(50, 205, 50), 
    240px 320px 0 0 rgba(50, 205, 50), 
    260px 320px 0 0 rgba(50, 205, 50), 
    280px 320px 0 0 rgba(50, 205, 50), 
    340px 320px 0 0 rgba(50, 205, 50), 
    360px 320px 0 0 rgba(50, 205, 50), 
    100px 340px 0 0 rgba(50, 205, 50), 
    120px 340px 0 0 rgba(50, 205, 50), 
    140px 340px 0 0 rgba(50, 205, 50), 
    160px 340px 0 0 rgba(50, 205, 50), 
    180px 340px 0 0 rgba(50, 205, 50), 
    260px 340px 0 0 rgba(50, 205, 50), 
    280px 340px 0 0 rgba(50, 205, 50), 
    300px 340px 0 0 rgba(50, 205, 50), 
    320px 340px 0 0 rgba(50, 205, 50), 
    340px 340px 0 0 rgba(50, 205, 50);
  height: 20px;
  width: 20px;
}

.pixela2 {
  box-shadow: 
    550px 400px 0 0 rgba(50, 205, 50), 
    600px 400px 0 0 rgba(50, 205, 50), 
    650px 400px 0 0 rgba(50, 205, 50), 
    500px 450px 0 0 rgba(50, 205, 50), 
    700px 450px 0 0 rgba(50, 205, 50), 
    450px 500px 0 0 rgba(50, 205, 50), 
    750px 500px 0 0 rgba(50, 205, 50), 
    500px 550px 0 0 rgba(50, 205, 50), 
    550px 550px 0 0 rgba(50, 205, 50), 
    600px 550px 0 0 rgba(50, 205, 50), 
    650px 550px 0 0 rgba(50, 205, 50), 
    750px 550px 0 0 rgba(50, 205, 50), 
    450px 600px 0 0 rgba(50, 205, 50), 
    700px 600px 0 0 rgba(50, 205, 50), 
    750px 600px 0 0 rgba(50, 205, 50), 
    450px 650px 0 0 rgba(50, 205, 50), 
    650px 650px 0 0 rgba(50, 205, 50), 
    750px 650px 0 0 rgba(50, 205, 50), 
    500px 700px 0 0 rgba(50, 205, 50), 
    550px 700px 0 0 rgba(50, 205, 50), 
    600px 700px 0 0 rgba(50, 205, 50), 
    750px 700px 0 0 rgba(50, 205, 50);
  height: 40px;
  width: 40px;
}

.pixela3{
  box-shadow: 
  910px 70px 0 0 rgba(50,205,50,1), 
  980px 70px 0 0 rgba(50,205,50,1), 
  1050px 140px 0 0 rgba(50,205,50,1), 
  980px 210px 0 0 rgba(50,205,50,1), 
  1050px 210px 0 0 rgba(50,205,50,1), 
  910px 280px 0 0 rgba(50,205,50,1), 
  1050px 280px 0 0 rgba(50,205,50,1), 
  910px 350px 0 0 rgba(50,205,50,1), 
  980px 350px 0 0 rgba(50,205,50,1), 
  1120px 350px 0 0 rgba(50,205,50,1);
  height: 70px;
  width: 70px;
  border-radius: 50%;
}




.pixela4 {
  box-shadow: 
  1410px 330px 0 0 rgba(50, 205, 50), 
  1350px 360px 0 0 rgba(50, 205, 50), 
  1380px 360px 0 0 rgba(173, 10, 253), 
  1410px 360px 0 0 rgba(50, 205, 50), 
  1440px 360px 0 0 rgba(173, 10, 253), 
  1470px 360px 0 0 rgba(50, 205, 50), 
  1320px 390px 0 0 rgba(173, 10, 253), 
  1350px 390px 0 0 rgba(50, 205, 50), 
  1380px 390px 0 0 rgba(173, 10, 253), 
  1410px 390px 0 0 rgba(50, 205, 50), 
  1440px 390px 0 0 rgba(173, 10, 253), 
  1470px 390px 0 0 rgba(50, 205, 50), 
  1500px 390px 0 0 rgba(173, 10, 253), 
  1290px 420px 0 0 rgba(50, 205, 50), 
  1320px 420px 0 0 rgba(173, 10, 253), 
  1380px 420px 0 0 rgba(173, 10, 253), 
  1440px 420px 0 0 rgba(173, 10, 253), 
  1470px 420px 0 0 rgba(50, 205, 50), 
  1500px 420px 0 0 rgba(173, 10, 253), 
  1530px 420px 0 0 rgba(50, 205, 50), 
  1290px 450px 0 0 rgba(50, 205, 50), 
  1380px 450px 0 0 rgba(173, 10, 253), 
  1440px 450px 0 0 rgba(173, 10, 253), 
  1470px 450px 0 0 rgba(50, 205, 50), 
  1500px 450px 0 0 rgba(173, 10, 253), 
  1530px 450px 0 0 rgba(50, 205, 50), 
  1350px 480px 0 0 rgba(50, 205, 50), 
  1380px 480px 0 0 rgba(173, 10, 253), 
  1410px 480px 0 0 rgba(50, 205, 50), 
  1440px 480px 0 0 rgba(173, 10, 253), 
  1470px 480px 0 0 rgba(50, 205, 50), 
  1500px 480px 0 0 rgba(173, 10, 253), 
  1530px 480px 0 0 rgba(50, 205, 50), 
  1320px 510px 0 0 rgba(173, 10, 253), 
  1350px 510px 0 0 rgba(50, 205, 50), 
  1410px 510px 0 0 rgba(50, 205, 50), 
  1470px 510px 0 0 rgba(50, 205, 50), 
  1500px 510px 0 0 rgba(173, 10, 253), 
  1530px 510px 0 0 rgba(50, 205, 50), 
  1290px 540px 0 0 rgba(50, 205, 50), 
  1320px 540px 0 0 rgba(173, 10, 253), 
  1350px 540px 0 0 rgba(50, 205, 50), 
  1470px 540px 0 0 rgba(50, 205, 50), 
  1500px 540px 0 0 rgba(173, 10, 253), 
  1530px 540px 0 0 rgba(50, 205, 50), 
  1290px 570px 0 0 rgba(50, 205, 50), 
  1320px 570px 0 0 rgba(173, 10, 253), 
  1350px 570px 0 0 rgba(50, 205, 50), 
  1470px 570px 0 0 rgba(50, 205, 50), 
  1500px 570px 0 0 rgba(173, 10, 253), 
  1530px 570px 0 0 rgba(50, 205, 50), 
  1290px 600px 0 0 rgba(50, 205, 50), 
  1320px 600px 0 0 rgba(173, 10, 253), 
  1350px 600px 0 0 rgba(50, 205, 50), 
  1470px 600px 0 0 rgba(50, 205, 50), 
  1500px 600px 0 0 rgba(173, 10, 253), 
  1530px 600px 0 0 rgba(50, 205, 50), 
  1290px 630px 0 0 rgba(50, 205, 50), 
  1320px 630px 0 0 rgba(173, 10, 253), 
  1350px 630px 0 0 rgba(50, 205, 50), 
  1380px 630px 0 0 rgba(173, 10, 253), 
  1440px 630px 0 0 rgba(173, 10, 253), 
  1470px 630px 0 0 rgba(50, 205, 50), 
  1500px 630px 0 0 rgba(173, 10, 253), 
  1530px 630px 0 0 rgba(50, 205, 50), 
  1590px 630px 0 0 rgba(50, 205, 50), 
  1320px 660px 0 0 rgba(173, 10, 253), 
  1350px 660px 0 0 rgba(50, 205, 50), 
  1380px 660px 0 0 rgba(173, 10, 253), 
  1410px 660px 0 0 rgba(50, 205, 50), 
  1440px 660px 0 0 rgba(173, 10, 253), 
  1470px 660px 0 0 rgba(50, 205, 50), 
  1530px 660px 0 0 rgba(50, 205, 50), 
  1560px 660px 0 0 rgba(173, 10, 253), 
  1590px 660px 0 0 rgba(50, 205, 50), 
  1320px 690px 0 0 rgba(173, 10, 253), 
  1350px 690px 0 0 rgba(50, 205, 50), 
  1380px 690px 0 0 rgba(173, 10, 253), 
  1410px 690px 0 0 rgba(50, 205, 50), 
  1440px 690px 0 0 rgba(173, 10, 253), 
  1560px 690px 0 0 rgba(173, 10, 253), 
  1380px 720px 0 0 rgba(173, 10, 253), 
  1440px 720px 0 0 rgba(173, 10, 253);
  height: 30px;
  width: 30px;
}

.pixela5 {
  box-shadow: 
    1850px 100px 0 0 rgba(50, 205, 50, 0.7), 
    1900px 100px 0 0 rgba(173, 10, 253, 0.7), 
    1950px 100px 0 0 rgba(50, 205, 50, 0.7), 
    1800px 150px 0 0 rgba(173, 10, 253, 0.7), 
    2000px 150px 0 0 rgba(50, 205, 50, 0.7), 
    1750px 200px 0 0 rgba(173, 10, 253, 0.7),
    2050px 200px 0 0 rgba(50, 205, 50, 0.7), 
    1800px 250px 0 0 rgba(173, 10, 253, 0.7),
    1850px 250px 0 0 rgba(50, 205, 50, 0.7), 
    1900px 250px 0 0 rgba(173, 10, 253, 0.7),
    1950px 250px 0 0 rgba(50, 205, 50, 0.7), 
    2050px 250px 0 0 rgba(173, 10, 253, 0.7),
    1750px 300px 0 0 rgba(50, 205, 50, 0.7), 
    2000px 300px 0 0 rgba(173, 10, 253, 0.7),
    2050px 300px 0 0 rgba(50, 205, 50, 0.7), 
    1750px 350px 0 0 rgba(173, 10, 253, 0.7),
    1950px 350px 0 0 rgba(50, 205, 50, 0.7), 
    2050px 350px 0 0 rgba(173, 10, 253, 0.7),
    1800px 400px 0 0 rgba(50, 205, 50, 0.7), 
    1850px 400px 0 0 rgba(173, 10, 253, 0.7),
    1900px 400px 0 0 rgba(50, 205, 50, 0.7), 
    2050px 400px 0 0 rgba(173, 10, 253, 0.7);
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
