@font-face {
    font-family: 'PicNic';
    src: url('fonts/PicNic-Regular.otf');
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, red, orange, yellow, green, blue, indigo, violet, hotpink);
    background-size: 150% 150%;
    animation: rainbow 5s ease infinite;
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.cat-container {
    max-width: 100%;
    max-height: 100%;
}
.word-container {
    margin-top: 20px;
    font-size: 50px;
    font-family: 'PicNic', sans-serif;
    color: hotpink;
    text-align: center;
}
img {
    width: 100%;
    height: auto;
    max-width: 500px;
    max-height: 500px;
}

