@font-face {
    font-family: 'Goozette';
    src: url('Goozette.otf');
}

body {
  background-image: url('sky.jpg');
  background-repeat: repeat;
  background-size: auto;
  font-family: 'Special Elite', monospace;
}

h1 {
  color: deeppink;
  font-family: 'Goozette';
  text-align: center;
  font-size: 2em;
}
blockquote {
  color: gray;
}
b {
  color: hotpink;
  font-family: 'Goozette';
}
p {
  color: gray;
}
a {
    color: #f4b8da;
}
a:hover {
    color: #ff5722;
    text-decoration: underline wavy;
}

.text-box {
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 5px solid deeppink;
    background-color: white;
    border-radius: 8px;
    overflow: auto;
}

.inner-box {
    width: 80%;
    margin: 20px auto;
    padding: 15px;
    border: 3px solid deeppink;
    border-radius: 5px;
}

.fly-around {
    position: absolute;
    width: 100px;
    animation: fly 40s infinite, spin 5s infinite;
}

@keyframes fly {
    0% {
        top: 0;
        left: 0;
    }
    10% {
        top: 50%;
        left: 100%;
    }
    20% {
        top: 100%;
        left: 0;
    }
    30% {
        top: 150%;
        left: 100%;
    }
    40% {
        top: 200%;
        left: 0;
    }
    50% {
        top: 250%;
        left: 100%;
    }
    60% {
        top: 300%;
        left: 0;
    }
    70% {
        top: 350%;
        left: 100%;
    }
    80% {
        top: 400%;
        left: 0;
    }
    90% {
        top: 200%;
        left: 100%;
    }
    100% {
        top: 0%;
        left: 0;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.nav-button {
    display: inline-block;
    background-color: deeppink;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    width: 100px;
    height: 60px;
    line-height: 60px;
    transition: background-color 0.3s ease;
    vertical-align: middle;
}

.nav-button:hover {
    background-color: #ff5722;
}

.nav-button.next {
    float: right;
    margin-right: 0;
}

}
